<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jua.makaron.mapper.LoginMapper">	

	<!-- 로그인 확인 -->
	<select id="userLoginCheck" resultType="int">
		SELECT COUNT(*)
		FROM customer
		WHERE id=#{id} AND password=#{password}
	</select>
	<!-- 접속 날짜 확인하면서 로그인 카운트 리셋 -->
	<update id="userLastLoginCheck">
		<![CDATA[
		UPDATE customer 
		SET access_date = sysdate, login_count=0
		WHERE id=#{id}
		]]>
	</update>
	<!-- salt 값-->
	<select id="userSaltGet" resultType="String">
		<![CDATA[
		SELECT salt
		FROM customer
		WHERE id=#{id}
		]]>
	</select>
	<!-- 로그인 차단 설정 -->
	<update id="userLoginLockSet">
		UPDATE customer 
		SET login_lock=#{login_lock}, login_count=login_count+1
		WHERE id=#{id}
	</update>
	<!--  로그인 시도 횟수 차단여부-->
	<select id="userLoginCountCheck" resultType="com.jua.makaron.vo.LoginVO">
		<![CDATA[
		SELECT login_count, login_lock
		FROM customer
		WHERE id=#{id}
		]]>
	</select>
</mapper>