<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jua.makaron.mapper.MypageQuestionMapper">

	<!-- 1. 상품 문의 내역 불러오기 -->
	<!-- 문의 내역 불러오기 -->
	<select id="getQuestionList" resultType="com.jua.makaron.vo.ProductQnaVO">
		<![CDATA[
			SELECT 
			    *
			FROM  
			    (
			    SELECT 
			        ROWNUM rn,
			        A.*                 
			    FROM
			        (                   
			        SELECT
			            pq.qna_no,
			            customer_id,
			            c.name,
			            p.product_title,
			            pq.qna_title,
			            pq.qna_content,
			            pq.update_date 
			        FROM
			            product_qna pq,
			            product p,
			            customer c
			        WHERE
			            pq.product_id = p.product_id
			            AND pq.customer_id = c.id
			            AND customer_id = #{id}
			            AND pq.is_del = 'N'
			        ORDER BY 
			            update_date desc
			        ) A
			    WHERE 
			        ROWNUM <= #{cri.pageNum} * #{cri.amount}
			    )
			WHERE
			    rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<!--  상품 문의 글 개수 구하기 -->
	<select id="getQuestionQuantity" resultType="int">
		<![CDATA[
			SELECT
			    count(qna_no)
			FROM
			    product_qna
			WHERE 
			    customer_id = #{id}
			    AND is_del = 'N'
		]]>
	</select>
	
	
	<!-- 2. 상품 문의 등록 -->
	<!-- ajax 후 카테고리명, 상품명 따로 받아오기! (allCategroyName() 함수도 만들어야함) -->
	<!-- 
	<select id="allCategroyName" resultType="com.jua.makaron.vo.ProductQnaVO">
		<![CDATA[
			SELECT
		       	category_name
		   	FROM
		      	product_category
			ORDER BY 
		       	category_name
    	]]>
	</select> 
	-->
	<!-- ajax후 allProductName(ProdutQnaVO qna)로 매개변수? 변경하기
	<select id="allProductName" resultType="com.jua.makaron.vo.ProductQnaVO">
		<![CDATA[
			SELECT
            	product_title
           	FROM
             	product 
         	WHERE
               	category_id = (SELECT category_id FROM product_category WHERE category_name = #{category_name})
          	ORDER BY 
               	product_title
		]]>
	</select>  
	-->
	<!-- 카테고리명>상품명 불러오기 -->
	<select id="allProductName" resultType="com.jua.makaron.vo.ProductQnaVO">
		<![CDATA[
			SELECT
            	pc.category_name,
            	p.product_title
           	FROM
             	product p,
              	product_category pc
         	WHERE
               	pc.category_id = p.category_id
          	ORDER BY 
               	category_name, product_title
		]]>
	</select>

	<!-- 상품 문의 작성하기 -->
	<insert id="insertQuestion">
		<![CDATA[
			INSERT INTO 
			    product_qna
			VALUES
			    (
			    SEQ_PRODUCT_QNA.nextval, 
			    (
			    SELECT 
			    	product_id
			    FROM 
			    	product 
			    WHERE 
			    	product_title= #{qna.product_title}
			    	AND category_id = (select category_id from product_category where category_name = #{qna.category_name})
			    ), 
			   	#{id}, 
			    #{qna.qna_title}, 
			    #{qna.qna_content}, 
			    sysdate, 
			    sysdate,
			    'N'
			    )
		]]>
	</insert>
	
	
	<!-- 3. 상품 문의 삭제 -->
	<update id="deleteQuestion">
		<![CDATA[
			UPDATE
			    product_qna
			SET 
			    is_del = 'Y'
			WHERE
			    qna_no = #{qna_no}
		]]>
	</update>
	
</mapper>