@charset "EUC-KR";


div.myPage
{
	position: relative;
	margin: 200px 0px; 
	text-align: center;
}

.myPageTop
{
	background-color: #f2f2f2;
    padding: 50px 0;
    margin-bottom: -20px;
}

.myPageTop .container .item
{
	text-align: left;
	display: inline-flex;
	background-color: white;
	width: 356px;
    padding: 50px;
    margin: 10px;
}

.user_infor a:link, .user_infor a:visited { color: #828282; }
.user_infor a:hover { color : black; }


.myPageMain
{
	width: 100%;
	margin-top: 50px;
	text-align: left;
}

table.orderTable, table.reviewTable, table.questionTable
{
	width: 100%;
	text-align: center;
}

td.product_img
{
	width : 250px;
	height: 300px;
}

.order, .address, .review, .question
{
	margin-top: 50px;
}

span.order_description, span.address_description, span.review_description, span.question_description
{
	color: #aaaaaa;
}
   

